body {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 50px;
    text-align: center;
    color: white;
}

.link {
    color: aquamarine;
    font-size: 16px;
}

.text {
    font-size: 42px;
    font-weight: 300;
}

.subtext {
    font-size: 21px;
    color: gray;
}

.copyright {
    text-align: right;
    color: grey;
}